.safe_top{
	text-align: center;
    margin:0.5rem 0;
}
.safe_top em{
	width: 0.67rem;
	display: inline-block;
	vertical-align: middle;
}
.safe_top em img{
	width: 100%;
}
.safe_top span {
    text-align: center;
    font-size: 0.26rem;
    color: #999;
    display: inline-block;
    vertical-align: middle;
    padding-left: 0.2rem;
}
.fillinput{
	background: #fff;
	padding-left: 0.17rem;
}
.inputinfo{
	width: 100%;
	line-height: 0.75rem;
    height: 0.75rem;
	border:none;
	font-size: 0.22rem;
}
.filltel{
	border-bottom: 1px solid #e1e1e1;
}
.fillcode{
	position: relative;
}
.getcode{
   position: absolute;
    top: 0.15rem;
    right:0.17rem;
    display: block;
    border: 1px solid #666;
    background: #fff;
    padding: 0.12rem 0.083rem;
    border-radius: 4px;
    font-size: 0.2rem; 
}
.bind-btn {
    margin:0.25rem 0.2rem;
    background: #fcd134;
    border-radius: 4px;
    padding: 0.2rem 0;
    font-weight: bold;
    text-align: center;
    color: #4d4d4d;
}
.warm-tips {
    color: #999;
    font-size: 0.2rem;
    margin: 0 0.2rem;
    line-height: 0.3rem;
}
.warm-tips span{
    display: inline-block;
}
.phone-tips{
    padding:0.17rem 0.17rem 0 1.2rem;
}
.alipay-tips{
    padding:0.17rem 0.17rem 0 0.9rem;
}
.alipay-tips span{
    margin-left:-0.7rem;
}
.phone-tips span{
    margin-left:-1rem;
}
.b_t{
	text-align: center;
}
.b_t em{
	width: 0.67rem;
}
.b_t em img{
	width: 0.67rem;
}
.b_t p{
	font-size: 0.28rem;
	color: #333;
	padding: 0.17rem 0;
}
.change-mobile {
    background: #fff;
    padding: 0.25rem 0.17rem;
}
.change-mobile a{
	color: #4594ff;
    text-decoration: underline;
    float: right;
}
div#hasbindbox {
    margin-top: 0.9rem;
}
div#tipsmodal {
    position: absolute;
    background: rgba(0,0,0,0.7);
    color: #fff;
    width: 50%;
    left: 50%;
    margin-left: -25%;
    padding: 0.3rem 0;
    border-radius: 4px;
    text-align: center;
    top: 30%;
}
/*---绑定支付宝---*/
.actiontxt{
    height: 0.7rem;
    line-height:0.7rem;
    font-size: 0.2rem;
    color: #f50;
    text-align: center; 
}
.actiontxt span{
    width:0.25rem;
    display: inline-block;
    margin-right:0.05rem; 
}
.actiontxt span img{
    width: 100%;
    vertical-align: middle;
}
.alipay_accountbox{
    background: #fff;
}
.successicon{
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    line-height: 0.25rem;
    border-radius: 50%;
    border: 1px solid #f50;
}
.sale_infor {
    padding: 0 0.17rem 0 0.67rem;
}
.zsname{
    padding: 0 0.17rem 0 1.1rem !important; 
}
.zsname p input{
   text-align: right !important; 
}
.sale_infor {
    min-height: 0.75rem;
    line-height: 0.75rem;
    padding: 0 0.17rem 0 0.6rem;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    margin-left:0.17rem;
    overflow: hidden;
}
.sale_infor span {
    color: #333;
    position: absolute;
    left: 0;
    top: 0;
}
.sale_infor p {
    max-width: 100%;
    padding-top: 0.17rem;
    overflow: hidden;
    position: relative;
}
.sale_infor p input {
    text-align: left;
}
.sale_infor p input {
    width: 100%;
    height:0.4rem;
    line-height: 0.4rem;
    font-size: 0.22rem;
    border: 0;
    outline: 0;
    color: #333;
    float: right;
    font-family: "苹方";
    background: #fff;
}
.changephone{
   padding: 0 0.17rem 0 0.9rem !important; 
}
.tishi{
    padding: 0;
    line-height: 0.67rem;
    font-size: 0;
}
.tishi span{
    width: 50%;
    display: inline-block;
    text-align: center;
    font-size: 0.22rem;
}
.tag_on{
   color: #348dfc;
}
div#bindbox {
	margin-top: 1.2rem;
}