*{
	padding: 0;
	margin: 0;
}
body{
	color: #000;
/*    background-color: #f7f7f7;*/
    background: #f0eff5;
    padding: 0px;
    margin: 0px auto;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: Microsoft YaHei,Helvitica,Verdana,Tohoma,Arial,san-serif;
    font-size: 16px;
    min-width: 320px;
    max-width: 640px;
}
.cl{
    clear: both;
}
ul{
    list-style: none;
}
.bg_white{
    background-color: #fff;
}
img{
    max-width: 100%;
    border: 0;
    width: 100%;
    vertical-align: middle;
}
i{
    font-style: normal;
}
.regulation{
    background: #fff;
}
.integral_record{
    border: 0.1rem solid #fa6f2a;
    padding: 0.1rem;
    overflow: hidden;
}
.record{
    border-radius: 5px;
    background: #fff;
    width: 100%;
}
.record_left{
    float: left;
}
.record_left em img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.record_left em{
    margin-right: 0.2rem;
}
.record_left span{
    color: #fa6f2a;
    font-size: 0.2rem;
    font-weight: normal;
}
.record_left span i{
    font-size: 0.28rem;
}
.record_right{
    float: right;
}
.record_right span{
    display: block;
    line-height: 0.8rem;
    text-decoration: underline;
    color: #fa6f2a;
    font-size: 0.23rem;
}
.dynamic{
    overflow: hidden;
}
.state{
    width: 100%;
    padding: 0.1rem 0.1rem 0 0.1rem;
    margin-left: 0.2rem;
}
.row_dynamic{
    overflow: hidden;
    line-height: 0.8rem;
    border-bottom: 0.001rem solid #e1e1e1;
}
.state ul.condition li{
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 0.25rem;
    color: #333;
}
.dynamic .condition .rowTime{
    text-align: left;
}
.row_dynamic ul.condition li.rowNuber{
    color: #2fbf43;
    float: right;
}