*{
	margin: 0;
	padding: 0;
}
@media screen and (min-width: 320px) {
    html {
        font-size: 50px;
    }
}
 
@media screen and (min-width: 360px) {
    html {
        font-size: 56px;
    }
}
 
@media screen and (min-width: 400px) {
    html {
        font-size: 63px;
    }
}
 
@media screen and (min-width: 440px) {
    html {
        font-size: 69px;
    }
}
 
@media screen and (min-width: 480px) {
    html {
        font-size: 75px;
    }
}
html {
    font-size: 15.625vw;
}
@media screen and (min-width: 640px) {
    html {
        font-size: 100px;
    }
}
body{
/*	min-width: 320px;*/
/*	max-width: 640px;*/
	width: 100%;
	height: auto;
	overflow-x:hidden;
	overflow-y:auto;
	top: 0;
	left: 0;
	bottom:0;
	margin: auto;
	font-size: 0.24rem;
	background-color: #f0eff5;
	font-family: 苹方;
}
.cl{
    clear: both;
}
ul{
    list-style: none;
}
.bg_white{
    background-color: #fff;
}
a{
text-decoration:none;
	color:#000;
}
.hid{
    display:none;
}
.blo{
    display:block;
}
.vip_icon0{
    background-position: 0 0;
}
.vip_icon1{
    background-position: 0 -20px;
}
.vip_icon2{
   background-position: 0 -40px;
}
.vip_icon3{
   background-position: 0 -60px;
}
.vip_icon4{
   background-position: 0 -120px;
}
.vip_icon5{
   background-position: 0 -140px;
}
.vip_icon6{
   background-position: 0 -180px;
}
.vip_icon7{
   background-position: 0 -200px;
}
.vip_icon8{
   background-position: 0 -220px;
}
.vip_icon9{
   background-position: 0 -240px;
}
.vip_icon10{
    background-position: 0 -260px;
}
/*---底部菜单--*/
div#bottom_menu {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
   /*  background: rgba(0,0,0,0.85); */
	background:#fff;
	border-top:1px solid #eee;
    height: 0.9rem;
    overflow: hidden;
    box-shadow: 0 0 6px rgba(79,79,80,.35);
    z-index: 100;
    font-size:0;
}
#bottom_menu a{
    display: block;
    /*width:25%;*/
    /* width: 33.33%; */
    width:20%;
    display:inline-block; 
    text-align: center;
	color:#000;
    position: relative; 
   /*  color: #fff; */
}
a.on em{
    color: #f2ca3b;
}
#bottom_menu a em{
	font-style: normal;
	font-size: 0.2rem;
	display: block;
}
#bottom_menu a i{
    width: 0.5rem;
    height:0.4rem;
    margin: 5px auto;
    display: block;
    /* background-image: url(/media/images/bottomicon.png);
    background-repeat: no-repeat;
    background-size: 1000%; */	
}
#bottom_menu  a i.game_icon {
    background: url(/images/game_icon_v2.png) no-repeat;
    background-size: 100%;
}
#bottom_menu a.on i.game_icon {
    background: url(/images/game_icon_on_v2.png) no-repeat;
    background-size: 100%;
}
#bottom_menu  a i.package_icon {
    background: url(/images/package_icon_v2.png) no-repeat;
    background-size: 100%;
}
#bottom_menu a.on i.package_icon {
    background: url(/images/package_icon_on_v2.png) no-repeat;
    background-size: 100%;
}
#bottom_menu a i.center_icon {
    background: url(/images/center_icon_v2.png) no-repeat;
    background-size: 100%;
}
#bottom_menu a.on i.center_icon {
    background: url(/images/center_icon_on_v2.png) no-repeat;
    background-size: 100%;
}
#bottom_menu a i.leisure_icon{
    background:url(/images/xiuxian.png) no-repeat;
    background-size:100%;
}
#bottom_menu a.on i.leisure_icon{
    background:url(/images/xiuxian_on.png) no-repeat;
    background-size:100%;
}
#bottom_menu a i.mall_icon{ 
    background:url(/images/shangcheng.png) no-repeat;
    background-size:100%; 
}
#bottom_menu a.on i.mall_icon{
    background:url(/images/shangcheng_on.png) no-repeat;
    background-size:100%; 
} 
/* #bottom_menu a i.game_icon {
    background-position: 55% 0;
}
#bottom_menu a.on i.game_icon {
    background-position:11% 0;
}
#bottom_menu a i.ranking_icon {
    background-position: 89% 0;
}
#bottom_menu a.on i.ranking_icon {
    background-position: 44% 0;
}
#bottom_menu a i.package_icon {
    background-position: 100% 0;
}
#bottom_menu a.on i.package_icon {
    background-position: 0 0;
}
#bottom_menu a i.mall_icon {
    background-position: 78% 0;	
}
#bottom_menu a.on i.mall_icon {
    background-position: 33% 0;
}
#bottom_menu a i.center_icon {
    background-position: 66% 0;
}
#bottom_menu a.on i.center_icon {
    background-position:22% 0;
} */
/* #bottom_menu a i.game_icon {
    background-position: 57% 0;
}
#bottom_menu a.on i.game_icon {
    background-position: 0 0;
}
#bottom_menu a i.ranking_icon {
    background-position: 100% 0;
}
#bottom_menu a.on i.ranking_icon {
    background-position: 43% 0;
}
#bottom_menu a i.mall_icon {
    background-position: 85.5% 0;
}
#bottom_menu a.on i.mall_icon {
    background-position: 28.5% 0;
}
#bottom_menu a i.center_icon {
    background-position: 71% 0;
}
#bottom_menu a.on i.center_icon {
    background-position:14% 0;
}  */
/*----the end----*/
 .title {
   padding: 0.17rem 0.17rem 0.17rem 0;
}
.title span {
    border: 2px solid #fcb334;
    margin-right: 0.17rem;
}
 .game_list {
    border-bottom: 1px solid #eceaea;
    padding-bottom: 0.1rem;
    background-color: #fff;
}
.game_list_box {
    border-bottom: 1px solid #eceaea;		
    margin: 0px 0.01rem 0px 0.17rem;
    position: relative;
}
ul.ulwidth{
    width: 85%;
    display: inline-block;
}
div.gul{
    width: 15%;
    display: inline-block;
}
li.liwidth1{
    width: 20% !important;
}
li.liwidth2 {
    width: 69% !important;
    padding: 0 0.21rem;
}  
 div.game_start {
    position: absolute;
    top: 0.35rem;
    right: 0.37rem;
    z-index: 2;
}
ul.listul,ul.c_tabsul{
    list-style: none;
    width: 100%;
    font-size: 0;
}
ul.c_tabsul{
	 display: inline-block;
}
ul.game_ul {
    padding: 0.15rem 0;
    position: relative;
    font-size: 0;
}
ul.c_tabsul{
    border-bottom: 1px solid #eceaea;
}
.listul li{
    display: inline-block;
    text-align: center;
}
.recentlyimg{
    width:0.67rem;
    height: 0.67rem;
    border-radius:6px;
}
.listul>li>p{
    color: #333;
    font-size: 0.22rem;
    padding:0.05rem 0 0.1rem;
    max-width: 100%;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
ul.c_tabsul li{
    position: relative;
    display: inline-block;
    /* width: 33.3%; */
	width: 25%;
    text-align: center; 
}
.contentbox{
	clear: both;
    margin-top: 0.2rem;
    margin-bottom: 1rem;
}
.asdtend{
    margin-top: -0.89rem;
}
ul.news_ul{
    position: relative;	
}
ul.game_ul li{
    display: inline-block;
/*    vertical-align:super;*/
    vertical-align: middle;
}
ul.news_ul li{
    display: inline-block;
    vertical-align: text-top;
}
ul.c_tabsul>li>a {
    display: inline-block;
    height: 0.6rem;
    line-height: 0.6rem;	
    padding: 0 0.083rem;
    font-size: 0.24rem; 
}
.c_active a{
    color: #f50;
    font-weight: bold;
    border-bottom: 2px solid #f50;
}
#recentlyplay .listul li.game_start{
    width: 20%;
}
li.game_img,li.game_start {
    width: 16%;
}
li.game_describe {
    width: 62%;
}
ul.game_ul>li.game_start {
    position: absolute;
    right: 0.17rem;
    top: 0.3rem;
}
ul.news_ul>li.game_start {
    position: absolute;
    right: 0;
    top: 0.22rem;
}
li.game_img img{
    width: 0.9rem;
    height: 0.9rem;
    border-radius: 6px;
}
.c_tabsul>li>span.point{
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: #ff0000;
    display: inline-block;
    position: absolute;
    top: 0.1rem;
    right: 30%;
}
.game_describe>p>span {
    vertical-align: bottom;
    /* display: inline-block; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 92%;
}
span.game_name {
    font-size: 0.28rem;
    display: block;
}
span.game_name i {
    font-style: normal;
    font-size: 0.24rem;
    color: #666;
}
p.gift {
    font-size: 0.22rem;
    padding-top: 0.05rem;
    line-height: 0.35rem;
}
.hot,.newgame,.package,.sole,.thsfirst,.exclusive,.boutique{
    border-radius: 2px;
    padding: 0 2px;
    font-size: 0.2rem;
    margin-right: 0.08rem; 
    display: inline-block;
}
.hot {
    color: #fe484e;
    border: 1px solid #fe484e;
}
.newgame{
    color: #f9bc3a;
    border: 1px solid #f9bc3a;
}
.boutique{
    color: #fe484e;
    border: 1px solid #fe484e;
}
.package{
    color: #5372d5;
    border: 1px solid #5372d5;
}
.sole{
    color: #7030a0;
    border:1px solid #7030a0;
}
.thsfirst{
    color: #ee725a;
    border:1px solid #ee725a; 
}
.exclusive{
    color: #8d9dde;
    border:1px solid #8d9dde; 
}
p.p_gamename{
    max-width: 90%;
    text-overflow:ellipsis;
    white-space: nowrap;
    word-wrap:normal;
    overflow: hidden;
}
p.describe {
    color: #666;
    font-size: 11px;
    padding-top: 0.17rem;
	max-width:92%;
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	display:inline-block;
	overflow:hidden;
}
span.game_name {
    font-family: 苹方;
    font-weight: 600;
    font-size: 13px;
}
a.start {
    display: inline-block;
    border: 1px solid #999;
    color: #333;
    padding: 0.083rem 0.17rem;
    border-radius: 4px;
    font-size: 0.22rem;
    cursor:pointer;
}
a.receive{
    display: inline-block;
    color: #333;
    background: #fcd134;
    padding: 0.083rem 0.17rem;
    border-radius: 4px;
    font-size: 0.26rem;
}
a.ad {
    border: 1px solid #fe484e;
    padding: 0.05rem 0.1rem;
    border-radius: 2px;
    font-size: 0.2rem;
    color: #fe484e;
}
a.gray_lab {
    color: #999;
    border: 1px solid #999;
}
.game_p{
    max-width:100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: inline-block;
    overflow: hidden;
	vertical-align: middle;
}
.news_ul {
    padding: 0.2rem 0;
}
.time{
    color: #666;
}
p.describeno {
    color: #999;
    text-align: center;
    font-size: 0.3rem;
    padding: 20% 0;
}
.martop{
	margin-top: 44px;	
} 
.tmodel {
    text-align: center;
    color: #666;
    font-size: 0.2rem;
    padding: 0.1rem 0;
}
/* 返回--头部 */
.mt_head{
	width: 100%;
    height: 44px;
    line-height: 44px;
    background: #0A0A0C;
    z-index: 1999;
}
.mt_h{
	font-size: 18px;
    color: #fff;
    font-weight: normal;
    text-align: center;
}
.mt_goback{
	width: 12px;
    height: 20px;
    display: block;
    position: absolute;
    padding: 12px 10px;
}
.mt-dow{
	vertical-align: top;
}
img{
	border: 0;
	max-width: 100%;
	height: auto;
}

/*div#game-listbox {
    padding-top: 44px;
    
}*/



/* iphone 6
@media only screen and (min-width: 375px) and (max-width: 667px) {
    div#game-listbox {
        padding-top: 0%;
    }
}
galaxy s5
@media only screen and (min-width: 360px) and (max-width: 640px) {
    div#game-listbox {
        padding-top: 0%;
    }
}
iphone 6
@media only screen and (min-width: 360px) and (max-width: 637px) {
    div#game-listbox {
        padding-top: 12%;
    }
}
bijiben
@media only screen and (min-width: 354px) and (max-width: 578px) {
    div#game-listbox {
        padding-top: 44px;
    }
}

iphone 5
@media only screen and (min-width: 320px) and (max-width: 568px) {
    div#game-listbox {
        padding-top: 0%;
    }
}
diannao s5
@media only screen and (min-width: 301px) and (max-width: 491px) {
    div#game-listbox {
        padding-top: 44px;
    }
} */
.desc_mt{
    padding-left: 0.2rem;
}
.redpoint,.tipspoint {
    width: 0.15rem;
    height: 0.15rem;
    border-radius: 50%;
    background: red;
    position: absolute; 
    top: 0;
    right: 0.45rem;
}