*{
	padding: 0;
	margin: 0;
}
body{
	color: #000;
/*    background-color: #f7f7f7;*/
    background: #f0eff5;
    padding: 0px;
    margin: 0px auto;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    font-family: 苹方;
    font-size: 16px;
    min-width: 320px;
    max-width: 640px;
}
.cl{
    clear: both;
}
ul{
    list-style: none;
}
.bg_white{
    background-color: #fff;
}
img{
    max-width: 100%;
    border: 0;
    width: 100%;
    vertical-align: middle;
}
i{
    font-style: normal;
}
.regulation{
    background: #fff;
}
.integral_record{
    border: 0.1rem solid #fa6f2a;
    padding: 0.1rem;
    overflow: hidden;
}
.record{
    border-radius: 5px;
    background: #fff;
    width: 100%;
}
.record_left{
    float: left;
}
.record_left em img{
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
.record_left em{
    margin-right: 0.2rem;
}
.record_left span{
    color: #fa6f2a;
    font-size: 0.2rem;
    font-weight: normal;
}
.record_left span i{
    font-size: 0.28rem;
}
.record_right{
    float: right;
}
.record_right span{
    display: block;
    line-height: 0.8rem;
    text-decoration: underline;
    color: #fa6f2a;
    font-size: 0.23rem;
}
.dynamic{
    overflow: hidden;
	margin-bottom: 1.5rem;
}
.state{
    width: 100%;
    padding: 0.1rem 0.1rem 0 0.1rem;
    margin-left: 0.2rem;
}
.row_dynamic{
    overflow: hidden;
    line-height: 0.8rem;
    border-bottom: 0.001rem solid #e1e1e1;
}
li.ng-binding {
    max-width: 33.3% !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
}
.state ul.condition li{
    float: left;
    width: 33.3%;
    text-align: center;
    font-size: 0.25rem;
    color: #333;
}
.dynamic .condition .rowTime{
    text-align: left;
}
.row_dynamic ul.condition li.rowNuber{
    float: right;
}
.lired{
	color: #ff0000 !important;
}
.ligreen{
	color: #2fbf43 !important;
}
/*--积分记录--*/
.change_header{
    padding: 0.2rem;
    background: #fa6f2a;
    overflow: hidden;
    color: #fff;
}
.change_left{
    float: left;
}
.change_left p{
    line-height: 0.55rem;
}
.change_right{
    float: right;
}
.qq{
    border: 0.01rem dashed #fff;
    padding: 0.15rem 0.3rem;
}
.change_right p{
    font-size: 0.2rem;
    padding-top: 0.1rem;
    text-align: center;
}
.change_list_box{
    width: 100%;
    height: 110px;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -55px;
}
.change_list_box em{
    margin: 0 auto;
    display: block;
    width: 20%;
}
.change_list_box p{
    text-align: center;
    line-height: 0.5rem;
    color: #666;
    font-size: 0.25rem;
}

.empty_box {
    width: 100%;
    height: 110px;
    position: fixed;
    top: 50%;
    left: 0;
    margin-top: -55px;
}
.empty_box em {
    width: 80px;
    display: block;
    margin: 0 auto;
} 
.empty_box p {
    font-size: 14px;
    color: #666;
    text-align: center;
    padding-top: 10px;
}
.loading{
	position:fixed;
	top:40%;
	left:50%;
	margin-left:-0.4rem;
	z-index:100;
}
.loading img{
	width:1rem;
}
