.adbg {
	width:100%;
	height:100%;
	position:absolute;
	left:0;
	top:0;
	bottom:0;
	margin:auto;
	text-align:center;
	z-index:1000;
}
.abimg {
	width:100%;
	height:100%;
}
#startgamebigbox {
	background:rgba(0,0,0,0.6);
	position:relative;
	z-index:2;
	width:100%;
	height:100%;
	top:0;
	left:0;
}
div#startgamesmallbox {
	width:80%;
	background:#fff;
	height:100%;
	position:relative;
	z-index:20;
}
.game_popup_head {
	background:#fcd134;
	position:relative;
	padding:0.08rem 0.17rem;
}
.back_home,.pop_head,.collection,.headimg,.infobox {
	display:inline-block;
	vertical-align:middle;
}
.collection {
	position:absolute;
	top:0.25rem;
	right:0.17rem;
}
.pop_head {
	margin-left:0.1rem;
}
.back_home {
	font-size:0.22rem;
}
.back_home em img {
	width:0.1rem;
}
.headimg img {
	width:0.8rem;
	height:0.8rem;
	border:1px solid #fff;
	border-radius:50%;
}
span.namebox {
	color:#ff3000;
}
.infortext {
	font-size:0.2rem;
	color:#666;
}
.vip_icon {
	width:44px;
	height:20px;
	display:inline-block;
	vertical-align:middle;
	background-image:url(/images/vipicon.png);
	background-repeat:no-repeat;
}
span.collenctionbtn {
	display:block;
	background:#f50;
	border-radius:4px;
	color:#fff;
	font-size:0.22rem;
	padding:0.08rem;
}
span.collenctionbtn img {
	width:0.25rem;
	vertical-align:text-bottom;
}
/*.popup_menu {
	background:#fff;
}*/

.menu_list li a span {
    display: block;
    padding-bottom: 0.08rem;
    font-size: 0.22rem;
	padding-top: 0.05rem;
}
/* .menu_list li.on a span {
    border-bottom: 2px solid #f50;
    color: #f50;
} */
.title {
	padding:0.17rem 0.17rem 0.17rem 0;
	font-size:0.26rem;
}
.title span {
	border:2px solid #fcb334;
	margin-right:0.17rem;
}
.chargemethod {
	color:rgba(51,51,51,0.82);
	font-size:0.22rem;
	padding:0 0.2rem 0.25rem;
}
.gift-list-box-1 {
	border-top:5px solid #f0eff5;
}
.game_describe1 p i {
	font-style:normal;
	color:#333;
}
.game_list_box {
	margin:0.1rem 0.17rem;
	width:auto;
	border:none;
}
ul.game_ul {
	list-style:none;
	border-bottom:1px solid #DDDDE1;
	position:relative;
	padding:0.17rem 0;
}
ul.game_ul li {
	display:inline-block;
	vertical-align:middle;
}
.package_num_img {
	width:60%;
	height:5px;
	background:#dddddf;
	border-radius:10px;
	position:relative;
	display:inline-block;
}
.package_num_img span {
	width:13%;
	height:5px;
	position:absolute;
	top:0;
	left:0;
	display:block;
	background:#fcb334;
	border-radius:10px;
}
.package_num_tip {
	margin-left:0.17rem;
	display:inline-block;
	font-size:0.2rem;
	color:#f50;
}
a.receive {
	background:#fff;
	display:inline-block;
	border:1px solid #999;
	color:#333;
	padding:0.083rem 0.17rem;
	border-radius:4px;
	font-size:0.22rem;
}
div#hot-game {
	clear:both;
}
ul.game_ul {
	padding:0.15rem 0;
	position:relative;
}
li.game_img img {
	width:0.75rem;
	height:0.75rem;
	border-radius:6px;
}
li.game_describe1 {
	width:80%;
}
ul.game_ul li.game_start {
	position:absolute;
	top:0.35rem;
	right:0;
	width:auto;
}
li.game_img {
	width:18%;
}
li.game_describe {
	width:62%;
}
#div_jinbang,#div_game,#div_gifts,#div_email,#div_info,#div_server{
	display: none;
}
.game_popup_con {
    clear: both;
    background: #fff;
    overflow-y: scroll;
    position: absolute;
/*     top: 2.27rem; */
	top: 1rem;
    width: 100%;
    left: 0;
    bottom: 0;
}
/*.game_popup_main {
	border-top:5px solid #f0eff5;
}*/
.allbtn {
	position:absolute;
	right:-0.46rem;
	top:30%;
}
.allbtn a {
	display:block;
	width:0.4rem;
	font-size:0.22rem;
	text-align:center;
	padding:0.15rem 0.03rem;
	border-radius:0 4px 4px 0px;
}
a.game_popup_back {
	background:#f50;
	color:#fff;
	margin-bottom:0.5rem;
}
a.game_popup_back img {
	background:#f50;
	color:#fff;
	width:0.1rem;
	display:block;
	margin:auto;
}
a.game_popup_refresh {
	background:#fff;
	color:#f50;
}
a.game_popup_refresh img {
	background:#fff;
	color:#f50;
	width:0.2rem;
	display:block;
	margin:auto;
}
.giftnum {
	text-align:center;
	margin-top:0.3rem;
}
.giftnum h5 {
	font-weight:normal;
}
.giftnum h2 {
	font-weight:normal;
	font-size:0.24rem;
}
.giftnum h2 img {
	height:0.24rem;
	width:0.12rem;
	padding-right:0.08rem;
	vertical-align:middle;
}
.active_num {
	margin:0.25rem 0;
}
.active_num a {
	text-decoration:none;
	color:#333;
	width:60%;
	padding:0.17rem 0;
	background-color:#f4f4f4;
	display:block;
	text-align:center;
	margin:auto;
}
.qrcode {
	text-align:center;
	margin:0.25rem 0;
}
.qrcode img {
	width:60%;
	margin:auto;
	display:block;
}
.qrcode span {
	display:block;
	margin-top:0.25rem;
	font-size:0.22rem;
	line-height:0.35rem;
}
.game_menu_box {
	position:fixed;
	right:-0.3rem;
	top:50%;
	opacity:0.5;
	width: 0.7rem;
	height: 0.7rem;
}
.onhit {
	opacity:1;
	right:0;
	-webkit-transition:right 0.3s;
	-moz-transition:right 0.3s;
	transition:right 0.3s;
}
.game_menu_box img {
	width:0.7rem;
}
.menuspan {
	display:block;
	position:absolute;
	background:#f30;
	color:#fff;
	font-size:0.18rem;
	padding:0.03rem 0.05rem;
	left:-0.1rem;
	top:0;
	border-radius:10px;
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg);
	-moz-transform:rotate(-30deg);
	-webkit-transform:rotate(-30deg);
	-o-transform:rotate(-30deg);
}
div#game-iframe-div {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	z-index:0;
}
iframe#game-frame {
	width:100%;
	height:100%;
}
div#giftmodal {
	background:rgba(0,0,0,0.6);
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	width:100%;
	height:100%;
	z-index:200;
}
.servebox {
	width:80%;
	background:#fff;
	margin:2rem auto 0;
	border-radius:10px;
	text-align:center;
	position:relative;
}
.get_img {
	height:1.5rem;
	padding:0.17rem 0 0;
}
.get_img img {
	height:100%;
	width:auto;
}
.closeimg {
	position:absolute;
	top:0.2rem;
	right:0.17rem;
	width:0.25rem;
	height:0.25rem;
}
.servebox h5 {
	font-size:0.24rem;
	padding:0.3rem 0 0.17rem;
}
.gifttxt {
	line-height:18px;
	font-size:14px;
	color:#ff6659;
	padding:0 0.25rem;
	font-weight:bold;
}
.notice {
	padding:0.17rem 0;
}
.active_num a {
	display:block;
	width:60%;
	text-decoration:none;
	padding:0.17rem 0;
	margin:0.17rem auto 0;
	border:1px solid #f50;
	border-radius:5px;
	background:#fff;
	font-size:14px;
	color:#f50;
}
.servebox h2 {
	font-size:0.24rem;
	font-weight:normal;
	padding:0.17rem 0 0.1rem;
}
.servebox h2 img {
	width:0.1rem;
}
.ewm_box a {
	color:#333;
	text-decoration:underline;
	font-size:0.22rem;
}
.receive_btn {
	background-color:#fcd134;
	margin-top: 0.05rem;
	border-radius:0 0 10px 10px;
}
.receive_btn a {
	color:#333;
	display:block;
	padding:0.2rem;
}
.rank_bg,.boodrg {
	height:100%;
	width:100%;
	position:fixed;
	_position:absolute;
	top:0;
	z-index:100;
	background:rgba(0,0,0,.6);
	display:none;
	-webkit-display:none;
}
.ptnList {
	width:80%;
	margin:2.6rem auto;
	background:#fff;
	border-radius:10px;
	z-index:10000;
	position:relative;
}
.myselfInfo,.recently {
	padding:0.1rem;
}
.ptnList h1 {
	display:block;
	height:14%;
	text-align:center;
	font-size:0.28rem;
	line-height:0.7rem;
	font-weight:inherit;
}
.ptnList h4 {
	color:#333;
	font-size:15px;
	border-left:3px solid #fcb334;
	font-weight:normal;
	padding-left:5px;
	line-height:15px;
	height:15px;
}
.recently p {
	width:25%;
	display:inline-block;
}
.recently em {
	width:50px;
	height:50px;
	display:block;
	margin:0 auto;
	font-style:normal;
}
.recently span {
	font-size:12px;
	text-align:center;
	display:block;
	padding:0.1rem 0;
	max-width:90%;
	overflow:hidden;
	word-wrap:normal;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.gameatt {
	overflow:hidden;
	margin:0.1rem auto;
	font-size:0;
}
.myselfInfo p {
	line-height:18px;
	font-size:12px;
	color:#333;
	padding:6px 10px 0;
}
.knowBtn {
	height:48px;
	background:#fcd134;
	text-align:center;
	line-height:45px;
	border-radius:10px;
	border-top-left-radius:0;
	border-top-right-radius:0;
}
.knowBtn a {
	text-decoration:none;
	color:#333;
	font-size:15px;
}
.popup_close {
	width:30px;
	height:30px;
	line-height:30px;
	text-align:center;
	position:absolute;
	top:5px;
	right:5px;
	display:block;
}
.popup_close img {
	width:12px;
	height:12px;
	margin:9px auto;
	vertical-align:middle;
}
img {
	max-width:100%;
	border:0;
	/*width:100%;*/
	vertical-align:middle;
}
.neImg img {
	width:34px;
	height:20px;
	padding-left:5px;
}
/* 邮件 */
.email_m{
    background: #fff;
    margin-top: 0.1rem;
    overflow: hidden;
}
.em_title h3{
    box-sizing: border-box;
    font-size: 0.24rem;
    font-style: normal;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.mine_email{
    margin: 0.24rem;
    height: 0.4rem;
}
.mine_e,.mineImg,.email_num{
    float:left;
    vertical-align: middle;
}
.mine_e{
    font-size: 0.28rem;
    font-style: normal;
    line-height: 0.5rem;
}
.mineImg{
    width: 11%;
    line-height: 0.2rem;
}
.mineImg img{
    width: 100%;
}
.email_num{
    line-height: 0.5rem;
}
.email_num b{
    font-size: 0.2rem;
}
.email_content{
    padding: 0 0.24rem;
}
.read{
    padding: 0.19rem 0;
    border-bottom: 1px solid #eceaea;
}
.readList,.em_title,.emTime_data,.em_gift{
    display: inline-block;
    vertical-align: middle;
}
.readList{
    width: 16%;
}
.readList img{
    width: 78%;
}
.em_title{
    width: 50%;
    padding: 0 0.3rem 0 0;
    font-size: 0.21rem;
}
.emTime_data{
    width: 23%;
    font-size: 0.2rem;
}
.em_gift{
    width: 6%;
}
/*信封样式*/
#wrap{
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    display: none;
}
*, *:before, *:after {
    box-sizing: border-box;
    font-size: 0.24rem;
    font-style: normal;
    font-weight: normal;
}

/*html, body {
  height: 100%;
}
*/
.container {
  position: relative;
  width: 100%;
  height: 100%;
}
.container > .folder {
    width: 280px;
    height: 200px;
    left: calc(41% - 110px);
    top: calc(73% - 90px);
    position: absolute;
}
.container > .folder > .cover {
    cursor: pointer;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #d1bb7d;
    -moz-border-radius: 0 0 10px 10px;
    -webkit-border-radius: 0;
    border-radius: 0 0 10px 10px;
    -moz-box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
}
.container > .folder > .cover:before, .container > .folder > .cover:after {
    box-sizing: border-box;
    content: "";
    display: block;
    position: absolute;
    top: -99px;
    border: 50px solid transparent;
}
.container > .folder > .cover:before {
    left: 0px;
    width: 54%;
    border-left: none;
    border-bottom-color: #d1bb7d;
}
.container > .folder > .cover:after {
    right: 0px;
    width: 56%;
    border-right: none;
    border-bottom-color: #d1bb7d;
}
.container > .folder > .cover > .title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    color: rgba(0, 0, 0, 0.33);
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -o-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(1deg);
    padding-top: 0.5rem;
}
.container > .folder > .paper {
    opacity: 1;
    position: absolute;
    overflow: hidden;
    width: 246px;
    height: 280px;
    top: calc(20% - 150px);
    left: calc(41% - 100px);
    transition: top 0.5s, opacity 0.4s;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 0.9em;
    padding: 1em;
    color: #644812;
    background-color: #f8f2e2;
    -moz-box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 10px 10px rgba(0, 0, 0, 0.2);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.container > .folder:hover > .paper {
    top: calc(50% - 200px);
}
.container > .folder.opened > .paper {
/*  top: calc(-108%);*/
    top: calc(-130%);
/*  top: calc(-34%);*/
  opacity: 1;
}
.paper h1 {
    font-size: 0.3rem;
    font-weight: bold;
    text-align: center;
}
.paper p {
    line-height: 0.39rem;
    padding-top: 0.1rem;
    text-indent: 0.5rem;
    font-size: 0.25rem;
}
.paper h2 {
    padding: 0.2rem 0 0.01rem 0;
}
p.code_btn {
    width: 23%;
    margin: 0 auto;
}
.a_demo_two {
    background-color: #d1bb7d;
    padding: 8px 17px;
    position: absolute;
    bottom: 13%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    text-decoration: none;
    color: #84898b;
    background-image: linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -o-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    background-image: -moz-linear-gradient(bottom, #fecb04 0%, #fecb04 100%);
    /* background-image: -webkit-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%); */
    background-image: -ms-linear-gradient(bottom, rgb(44,160,202) 0%, rgb(62,184,229) 100%);
    /* background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0, #d1bb7d), color-stop(1, #FFEB3B) ); */
    -webkit-box-shadow: inset 0px 1px 0px #d1bb7d, 0px 6px 0px #c1b184;
    -moz-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
    -o-box-shadow: inset 0px 1px 0px #7fd2f1, 0px 6px 0px #156785;
    /* box-shadow: inset 0px 1px 0px #FFC107, 0px 6px 0px #cea220; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    font-weight: bolder;
}
a {
    text-decoration: none;
}
.vipbox {
    position: relative;
    margin-top: -0.15rem;
}
.vipgrade {
    position: absolute;
    top: -0.05rem;
    right: -0.6rem;
}
.vipnum {
    font-size: 0.18rem;
    color: #fcb334;
    /*margin-top: -0.05rem;*/
}
.vipgrade img {
    width: 0.35rem;
}
.vipprogress {
    position: relative;
    width: 1.2rem;
    height: 4px;
    background-color: #ddd;
    border-radius: 10px;
    display: inline-block;
}
.vipprogress span {
    width: 20%;
    height: 4px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    background: #fcb334;
    border-radius: 10px;
}
.infortext span{
    font-size:0.22rem;
}
div#servemodal_m {
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}
.servebox {
    width: 84%;
    height: 56%;
    background: #fff;
    margin: 2rem auto 0;
    border-radius: 10px; 
    text-align: center;
    position: relative;
}
img.closeimg {
    position: absolute;
    top: 0.2rem;
    right: 0.17rem;
    width: 0.25rem;
    height: 0.25rem;
    z-index: 10;
}
p.delete_email {
    color: #fff;
    padding: 0.6rem 0 0.56rem 0;
}
.receive_btn {
    line-height: 0.7rem;
}
.receive_btn a {
    color: #fff;
}
.aa_left{
    left: -2rem;
    position: relative;
}
/*---充值模态框--*/
.rechangemodal{ 
    display:none;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
}
.rechangebox{
    width:78%;
    background:#f7f7f6;
    border-radius:6px;
    position:relative;
    margin:1.2rem auto 0;
    text-align:center;
}
.rechangebox h4{
    background:#ffd033;
    padding:0.2rem 0;
    border-radius:6px 6px 0 0;
    font-size: 0.3rem;
} 
.closezfmd{
    position:absolute;
    top:0.25rem;
    right:0.2rem;
    width:0.2rem; 
    cursor: pointer;
}
.paybox{
    color:#ff2f00;
    font-size:0.45rem;
    border-bottom:1px solid #eee;
    padding-bottom:0.17rem;
    margin:0 0.2rem;
}
.paynum{
	font-size: 0.45rem;
} 
.pall{
    padding:0.17rem 0;
}
.pallfs{
    font-size:0.28rem;
}
.selectpay{
    background:#fff;
    border-radius:0 0 6px 6px ;
}
.zhifufs{
    /* width: 100%; */
    font-size: 0;
    padding: 0.17rem 0;
    margin: 0 0.2rem;
    border-bottom: 1px solid #eee;
}
.zhifufs li{
    font-size:0.24rem;
    display:inline-block;
    vertical-align: middle;
}
.zflione{
    width:20%;
}
.zflitwo{
    width:70%;
    text-align:left;
}
.zflithree{
    width:10%;
}
.zflione img,.zflithree img{
    width:0.5rem;
}
.zflithree img{
    width:0.15rem;
}
.zfp1{
    font-size:0.2rem;
    color: #626262;
    padding-top: 0.1rem;
}
/* .linebottom{
    border-bottom:1px solid #eee;
} */
.payparams{
    position:relative;
}
.zhifubao,.weixinzhifu{ 
    position:relative;
}
.wxinput{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
}
.submit{ 
    position: absolute;
    bottom: 0;
    opacity: 0;
}
.loadbox{
    display:none;
    z-index: 201;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;   
}
.loadimg {
    margin-top: 60%;
}
/*--资料填写模态框--*/
.infomodal{
    display:none;
    background: rgba(0,0,0,0.6);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    overflow-y:auto;
}
.fillinfobox{
    width:70%;
    background:#fff;
    border-radius:6px;
    position:relative;
    margin:2rem auto 0;
    padding: 0.3rem;
}
.closeinfomd{
    position:absolute;
    top: 0.15rem;
    right: 0.15rem;  
    width:0.2rem;
    cursor: pointer;
}
.infoname,.infotel{
    width: 90%; 
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 0.17rem;
    line-height: 0.45rem;
}
.nameinfo p,.infotel p{
    padding: 0.3rem 0 0.15rem;
    font-size: 0.26rem;
    font-weight: bold;
}
.surebtn { 
    padding: 0.2rem 0;
    width: 100%;
    background: #ff3300;
    border: none;
    color: #fff;
    border-radius: 4px;
    margin-top: 0.3rem;
    font-size: 0.26rem;
}
.errortip {
    display:none;
    padding-top: 0.2rem;
    color: #f30;
    font-size: 0.22rem;
}
img.kfg {
    width: 100%;
    height: 9.4rem;
}
span.point {
    width: 0.1rem;
    height: 0.1rem;
    border-radius: 50%;
    background: #ff0000;
    display: inline-block;
    position: absolute;
	top: 0.3rem;
    right: 18%;
}
/*微信二维码弹框*/
#wxmodal,#wxmodalCustom{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    top: 0;
    left: 0;
    z-index: 500;
    display: none;
}
.wxbox{
    text-align: center;
}
.wxsmallbox{
    width: 3rem;
    height: 3rem;
    margin: auto;
    margin-top: 30%;
    position: relative;
}
.wxcodeimg{
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
}
.tipcode{
    color: #fff;
    padding-top: 0.2rem;
}
.closecodemodal {
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    width: 0.45rem;
    height: 0.45rem;

}
/*分享弹框*/
#wxmodalShare{
    position: fixed;
    width: 100%;
    height: 200%;
    background-color: rgba(0,0,0,0.6);
    top: -71px;
    left: 0;
    z-index: 500;
    display: none;
}
.wxboxShare{
    text-align: center;
}
.wxsmallboxShare{
    width: 3rem;
    height: 3rem;
    margin: auto;
    margin-top: 30%;
    position: relative;
}
.wxcodeimg1{
    width: 3rem;
    height: 3rem;
    border-radius: 6px;
    position: absolute;
}
.tipcode1{
    color: #fff;
    padding-top: 0.2rem;
    font-size: 0.3rem;
    width: 100%;
    padding: 0 1rem;
}
.closecodemodal1 {
    position: absolute;
    top: -0.4rem;
    right: -0.4rem;
    width: 0.45rem;
    height: 0.45rem;

}
/*人工服务弹框*/
.wxboxCustom{
    background: #fff;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 30%;
    border-radius: 10px;
}
.customimg {
    padding: 0.8rem 0 0.1rem;
}
.customimg img{
    width: 60%;
    border-radius: 6px;
}
.customtips{
    color: #999;
    font-size: 0.22rem;
    padding: 0.2rem 0;
}
.ikonwbtn{
    background: #fcd134;
    border: none;
    width: 100%;
    padding: 0.3rem 0;
    margin-top: 0.2rem;
    font-size: 0.24rem;
    border-radius: 0px 0px 10px 10px;
}
/* 侧边导航 */
.sidebar {
    width: 20%;
    background: rgba(16, 16, 16, 0.88);
    height: 100%;
    position: fixed;
    z-index: 20;
    right: 0;
    top: 0;
}
ul.menu_list {
    list-style:none;
    font-size:0;
}
ul.menu_list li {
    width: 24.3%;
    display:inline-block;
    text-align:center;
}
li.on em {
    color:#f2ca3b;
}
.menu_list li em {
    font-style:normal;
    font-size:0.2rem;
    display:block;
}
.menu_list li a {
    width: 0.67rem;
    margin: auto;
    display: block;
    color: #fff;
}
.menu_list li a span {
    display: block;
    padding-bottom: 0.08rem;
    font-size: 0.22rem;
    padding-top: 0.05rem;
}
/* .menu_list li i {
    width: 34px;
    height: 26px;
    margin: 5px auto;
    display: block;
    background: url(/images/sidebg.png);
    border-radius:50%;
    background-repeat: no-repeat;
}
.menu_list li.on {
    background: rgba(254, 203, 4, 0.9);
    border-radius: 50%;
}
.menu_list li.on a i {
    background: rgba(254, 203, 4, 0.9);
    border-radius: 50%;
} 
.menu_list  li i.i_gifts {
    background-position: -49px -9px;
}
.menu_list li i.i_game {
    background-position: -116px -8px;
}
.menu_list li i.i_server {
    background-position: -187px -7px;
}
.menu_list li i.i_jinbang {
    background-position: -86px -9px;
}
.menu_list li i.i_info {
    background-position: -152px -6px;
}
.menu_list li i.i_addt {
    background-position: -15px -10px;
}
.menu_list li i.i_refresh {
    background-position: -224px -7px;
}
.menu_list li i.i_back {
    background-position: -258px -8px;
    width: 26px;
    height: 26px;
} */
.menu_list li i {
    width: 0.5rem;
    height: 0.5rem;
	margin: 0 auto;
    display: block;
    background-image: url(/images/startgamemenu3.png);
	border-radius:50%;
    background-repeat: no-repeat;
}
.menu_list li.on a i {
    background-color: rgba(254, 203, 4, 0.9);
    border-radius: 50%;
} 
.menu_list  li i.i_gifts {
    background-position: -94px 0px; 
}
.menu_list li i.i_game {
    background-position: -188px 0px;
}
.menu_list li i.i_server {
	background-position: -65px 0px;
}
.menu_list li i.i_jinbang {
    background-position: -158px 0px;
}
.menu_list li i.i_info {
    background-position: -221px 0px;
}
.menu_list li i.i_addt {
	background-position: -33px 0px;
}
.menu_list li i.i_refresh {
    background-position: -125px 0px;
}
.menu_list li i.i_back {
    background-position: 1px 0px;
}
ul.menu_list li {
    /* width: 87%;
    height: 10.25%;
    margin: 0.32rem 0.09rem 0; */
    width: 100%;
    display: flex;
    text-align: center;
    margin: 0.32rem 0 0;
}
#div_code h4 {
    text-align: center;
    margin: 0.25rem 0 0 0;
    font-size: 0.27rem;
    color: #000;
}
.scrollList {
    padding: 0.13rem 0.3rem;
    line-height: 0.35rem;
    width: 4.67rem;
    height: 5rem;
}
.downbox{
	position: absolute;
    top: 0.25rem;
    right: 0.17rem;
}
.downloadimg{
	width:0.4rem;
}